body
{
    overflow: hidden;
    background-color: rgb(50, 50, 50);
}
.sidebar_container
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.telegram.high
{
    right: 10px;
}

.insta.high
{
    right: 10px;
    bottom: 13.2%;
}
.social_media.high{
    height: fit-content;
    width: 25px;
}
.social_media.high img {
    height: unset;
    width: 100%;
}
.youtube.high
{
    right: 8px;
    width: 29px;
    bottom: 7.2%;
}
.social_media
{
    
    bottom: calc(100vh - 98.8%);
    position: fixed;
    display: block;
    height: 25px;
    margin: 20px 20px;
    z-index: 3;
}
.social_media.high.paralax
{
    right: -100px;
}
.social_media.high.hover{
    right: 10px;
}
.youtube.high.hover{
    right: 8px;
}
.social_media img
{
    height: 100%;
}
.youtube
{
    padding: 1px 0;
    transition: 0.8s 0.2s;
    right: 12%;
}
.telegram
{
    transition: 0.8s 0.4s;
    right: 8%;
}
.insta
{
    transition: 0.8s;
    right: 16.5%;
}
.content
{
    z-index: inherit;
}
.home .name
{
    position: absolute;
    top: 30%;
    left: 13%;
    z-index: 1;
}
.home .name .title
{
    font-size: 100px;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Montserrat";

    letter-spacing: 10px;
    z-index: 8;
    transition: 0.8s 1s;
    transform: translate(0, 70%);
    opacity: 0;
}
.home .name span
{
    margin-top: 15px;
    display: block;
    width: 100%;
    height: 2px;
    transform: scale(0);
    background-color: white;   
    transition: 1s; 
}
.home .name .subtitle
{
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    font-family: "Montserrat";
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.73);
    z-index: 1;
    transform: translate(0, -100%);
    opacity: 0;
    transition: 1s 1.8s;
}

.home .name.ready .title
{
    transform: translate(0,0);
    opacity: 1;
}
.home .name.ready span
{
    transform: scale(1);
}
.home .name.ready .subtitle {
    transform: translate(0,0);
    opacity: 1;
}

.arrow
{
    display: block;
    width: 60px;
    height: 30px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 30px);
    transform: translate(0, 0px);
    z-index: 4;
    opacity: 1;
    transition: 0.8s;
    animation-name: move;
    cursor: pointer;
    animation-duration: 1.3s; 
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
.arrow.hidden
{
    opacity: 0;
}
.arrow::after, .arrow::before
{
    content: '';
    width: 35px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.874);
    position: absolute;
    display: block;
}
.arrow::after
{
    left: -1px;
    top: calc(50% - 1px);
    transform: rotate(35deg);
}
.arrow::before
{
    right: -1px;
    top: calc(50% - 1px);
    transform: rotate(-35deg);

    
}
.arrow:hover::after , .arrow:hover::before {
    background-color: rgba(255, 255, 255, 1);
}
.shadow
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.359);
}
.home
{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 8;
}

.win_logo
{
    width: 150px;
    height: 150px;
    padding: 30px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
.win_logo img
{
    width: 100%;
    height: 100%;
}
/* ---------------- */
.background img 
{
    width: 100%;
}
.background#b_home
{
    width: 115%;
    height: 100%;
    animation-name: action;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
    top: -25%;
    left: -5%;
}
.background#b_services
{
    width: 115%;
    animation-name: action;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
    top: -10%;
    left: -10%;
}
.background
{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}
.background.onthis
{
    opacity: 1;
}

/* --- services --- */
.services .background
{
    width: 115%;
    position: absolute;
    animation-name: action;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
    top: -10%;
    left: -10%;
}
.services
{
    width: 100%;
    position: relative;
    height: 100vh;
    padding: 0 120px;
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}
.services_block{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.service
{
    z-index: 1;
    height: 280px;
    margin: 10px 40px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.title
{
    color: rgba(14, 119, 239, 0.501);
    font-size: 26px;
    white-space: nowrap;
    font-family: "Montserrat";
    text-align: center;
    transform: translate(0, 120%);
    opacity: 0;
    margin: 20px 0px;
    transition: 1s 1s;
}
.line_x
{
    display: block;
    min-height: 3px;
    width: 100%;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.886);
    transition: 1s;
    z-index: 2;
}
.service .list
{
    color: rgba(255, 255, 255, 0.785);
    padding: 0 30px;
    opacity: 0;
    transform: translate(0, -100%);
    transition: 1s 1.8s;
}
.service .list li
{
    list-style-type: square;
    font-family: "Montserrat";
    letter-spacing: 1px;
    font-size: 22px;
    margin: 15px 0;

}
.services_block.on .service
{
    opacity: 1;
}
.services_block.on .service .title
{
    transform: translate(0, 0);
    opacity: 1;
}
.services_block.on .service .list
{
    opacity: 1;
    transform: translate(0,0);
}

.priceList_table
{
    width: 80%;
    height: 40%;
    position: absolute;
    text-align: center;
    padding: 30px 20px;
    bottom: 50px;
    background-color: rgba(0, 0, 0, 0.789);
    border-top: 3px solid rgba(14, 119, 239, 0.586);
    border-bottom: 3px solid rgba(14, 119, 239, 0.586);
    display: flex;
    flex-direction: column;
    justify-content: start;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
}
.priceList_table.view
{
    opacity: 1;
    visibility: visible;
}
.priceList_table.openlist
{
    height: 90%;
}

.part
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t_title
{
    color: rgba(14, 119, 239, 0.578);
    width: 100%;
    font-size: 28px;
    font-family: "Montserrat";
    text-align: center;
    margin: 20px 0px;
}
.line{
    width: 100%;
    padding: 0px 20px;
    font-size: 22px;
    margin: 15px 0;
    color: rgba(255, 255, 255, 0.849);
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    letter-spacing: 1px;
}
.l_service
{
    white-space: nowrap;
}
.price
{
    white-space: nowrap;
}
.part span
{
    overflow: hidden;
    color: rgba(14, 119, 239, 0.578);
}
.priceList_table::-webkit-scrollbar 
{
    background-color: rgba(0, 0, 0, 0.386);
    width: 8px;
    
}

.priceList_table::-webkit-scrollbar-button
{
    display: none;
}
.priceList_table::-webkit-scrollbar-thumb
{
    background-color: rgba(14, 119, 239, 0.586);

}
.open
{
    text-align: center;
    display: inline;
    font-size: 40px;
    font-weight: 'Montserrat';
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: white;
    margin: 22px;
    transition: 1s;
    animation: blink 2.5s;
    text-shadow: 0 3px 4px rgba(14, 119, 239, 0.94);
    cursor: pointer;
    animation-iteration-count: infinite;
    z-index: 3;
}
.open:hover
{
    opacity: 0.8;
    animation: none;
}
/* --- staff --- */

.staff 
{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.fog
{
    width: 70%;
    transition-timing-function: ease-in-out;
    position: fixed;
    z-index: 6;
}
.fog img 
{
    width: 100%;
}
.fog._1
{
    bottom: -38%;
    transition: 1s;
    left: -23%;
}
.fog._2
{
    transition: 1s 0.3s;
    bottom: -51%;
    left: 15%;
}
.fog._3
{
    bottom: -40%;
    transition: 1s;
    right: -23%;
}
.fog._1.off
{
    bottom: -70%;
    left: -40%
}
.fog._2.off
{
    bottom: -70%;
}
.fog._3.off 
{
    bottom: -70%;
    right: -40%;
}
/*----- defolt dentists ------*/
.dentists
{
    /* visibility: hidden; */
    z-index: 8;
    width: 100%;
    height: 100%;
}
.dentist
{
    position: absolute;
    transition: 1.5s 0.4s;
    bottom: -5%;
}
.dentist img {
    width: 100%;
}

.dentist._4
{
    width: 30%;
    right: 35%;
    bottom: -5%;
    transform: translate(0, 21%);
    transition: 1.5s 0.2s ;
    z-index: 4;
}

.prioriti_2
{
    width: 25%;
    opacity: 1;
    z-index: 3;
    transition: 1.5s 0s;
}

.prioriti_3
{
    width: 28%;
    z-index: 2;
}

.dentist._3 
{
    right: 19%;
}

.dentist._2
{
    right: 60%;
}
.dentist._1
{
    left: -4%;
    transform: translate(0, 10%);
}
.dentist._5
{
    left: 82%;
    transform: translate(0, -2%);
}

/*---- dentists' CLONE ----*/
.clone 
{
    z-index: 9 !important;
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    cursor: pointer;
}
/* ----- dentist OFF------*/
.dentist._4.off
{
    bottom: -100%;
}
.dentist._1.off
{
    left: -30%;
}
.dentist._3.gr, .dentist._2.gr 
{
    transition: 1s 1.5s;
}
.dentist._3.off , .dentist._2.off
{
    opacity: 0;
}
.dentist._5.off
{
    left: 112%;
}
.dentist._1.gr, .dentist._5.gr
{
    transition: 1s 2.2s;
}
/*-- opacity of LETTERS ---*/

.opacityOI{
    opacity: 1 !important;
    transition-delay: 0s !important;
}
.opacityZ
{
    opacity: 0 !important;
    transition-delay: 0s !important;
}

/* defolt ALTERNATIVE at all */

.dentists.alternative .left
{
    left: -50%;
}
.dentists.alternative .right 
{
    right: -50%;
}
.dentists.alternative .bottom
{
    right: -50%;
}

.dentists.alternative .dentist 
{
    transition-delay: 0.5s !important;
}
.dentists.alternative .dentist._1 
{
    width: 40% !important;
    transition: 1s 1.5s;
}
.dentists.alternative .dentist._2 
{
    width: 40% !important;
    transition: 1.5s 1.5s;
}
.dentists.alternative .dentist._3
{
    width: 40% !important;
    transition: 1.5s 1.5s;
}
.dentists.alternative .dentist._4 
{
    width: 35% !important;
    transition: 1.7s 0s ease-out !important;
}
.dentists.alternative .dentist._5
{
    width: 35% !important;
    transition: 2.5s 1.5s;
}
/*---- animate SWITCH ----*/

/* .dentist.right.switched
{
    animation: switch_close_right 2s;
}
.dentist.right.information.switched
{
    animation: switch_open_right 2s;
}
.dentists .dentist.left.switched 
{
    animation: switch_close_left 2s;
}
.dentists .dentist.left.information
{
    animation: switch_open_left 2s;
} */

/*---- animate dentists GO TO BOTTOM ----*/

.dentists.alternative ._1.animate 
{
    animation: dentist1 2s ease-in;
}
.dentists.alternative ._2.animate
{
    animation: dentist2 2s;
}
.dentists.alternative ._3.animate
{
    animation: dentist3 2s;
}
.dentists.alternative ._4.animate
{
    animation: dentist4 2s ease-in;
}
.dentists.alternative ._5.animate
{
    animation: dentist5 2s ease-in;
}

/*---- animate dentists GO TO TOP ----*/

.dentists ._1.close_animate 
{
    animation: close1 3s;
}
.dentists ._2.close_animate
{
    animation: close2 3s;
}
.dentists ._3.close_animate
{
    animation: close3 2.5s;
}
.dentists ._4.close_animate 
{
    animation: closeMain 3s;
}
.dentists ._5.close_animate
{
    animation: close5 3s;
}

/*---- alternative when it is INFORMATIONED ----*/

.dentists.alternative .bottom.information
{
<<<<<<< HEAD
    bottom: -5%;
=======
    bottom: -5% !important;
>>>>>>> lox
    right: 5% !important;
    transition: 2s;
    transition-delay: 0.3s !important;
}

.dentists.alternative .right.information 
{
    bottom: -25% !important;
    right: 0% !important; 
    transition: 2s;
    transition-delay: 0.3s !important;
}
.dentists.alternative .left.information 
{
    bottom: -10% !important;
    left: 5% !important;
    transition: 2s;
    transition-delay: 00.3s !important;
}
.dentists.alternative .dentist._5.information 
{
    bottom: -5% !important;
}

/*---- BACK BUTTON ----*/

.back_button
{
    width: 40px;
    height: 40px;
    position: absolute;
    opacity: 0;
    transition: 1s 0s;
    left: 90px;
    visibility: hidden;
    top: 3%;
    cursor: pointer;
    z-index: 25;
}
.back_button.visible
{
    visibility: visible;
    transition: 1s 2s;
    opacity: 0.8;
}
.back_button img
{
    width: 100%;
    height: 100%;
}

.dentist_information
{
    width: 33%;
    max-height: 70%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    visibility: hidden;
}
.dentist_information > span
{
    width: 0%;
    min-height: 3px;
    margin: 15px 0;
    transition: 0.5s 0s;
    background-color: rgba(255, 255, 255, 0.663);
}
.dentist_information .dentist_name
{
    width: 100%;
    text-align: center;
    transform: translate(0, 100%);
    transition: 0.5s 0.5s;
    font-size: 35px;
    opacity: 0;
    color: rgba(255, 255, 255, 0.855);
    letter-spacing: 3px;
    font-family: "MonserratB";
}
.dentist_information .text 
{
    width: 100%;
    padding: 10px 20px;
    overflow: hidden;
    
}
.dentist_information .text > span
{
    width: 100%;
    line-height: 27px;
    display: block;
    font-size: 22px;
    text-align: center;
	font-family: 'Montserrat';
    color: rgba(255, 255, 255, 0.795);
    height: 100%;
    opacity: 1;
    transform: translate(0, -110%);
    transition: 1s 1s;
}
.t_left
{
    left: 10%;
    top: 10%;
}
.t_right
{
    right: 10%;
    top: 10%;
}
.dentist_information.period 
{
    visibility: visible;
}
.dentist_information.period > span 
{
    width: 100%;
    transition: 0.5s 1.5s;
}
.dentist_information.period .text > span {
    transform: translate(0,0);
    transition: 1.5s 2.7s;
} 
.dentist_information.period .dentist_name {
    transform: translate(0,0);
    opacity: 1;
    transition: 0.7s 2s;
}

.next_button
{
    width: 100px;
    position: absolute;
    top: calc(50vh - 50px);
    z-index: 9;
    right: 0;
    transition: 1s 0.5s;
    cursor: pointer;
    visibility: visible;
    opacity: 0.8;
    animation-name: moveX;
    animation-duration: 1.3s; 
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
.next_button img 
{
    width: 100%;
}
.next_button.hidden
{
    opacity: 0;
    visibility: hidden;
}





/* .dentist .name {
    position: absolute;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 20%;
    opacity: 0;
    top: -25%;
}
.dentist .name .n
{
    top: 0;
    left: 0;
    width: 100%;
    font-size: 26px;
    margin-bottom: 5px;
    text-align: center;
    white-space: nowrap;
    font-family: "Montserrat";
    letter-spacing: 2px;
    color: rgba(14, 119, 239, 0.501);
    display: block;
    transition: 0.5s 2.1s;
    transform: translate(0, 110%);
    opacity: 0;
    z-index: 6;
}
.dentist._3 .name , .dentist._2 .name 
{
    height: 28%;
    top: -33%;
}

.dentist .name .x 
{
    width: 0%;
    transition: 0.8s 1.3s;
    margin-top: 5px;
    height: 3px;
    display: block;
    background-color: rgba(255, 255, 255, 0.494);
}
.dentist.nameup .name .x 
{
    width: 70%;
}
.dentist._3.nameup .name .x , .dentist._2.nameup .name .x
{
    width: 85%;
}
.dentist .name .y {
    display: block;
    width: 3px;
    height: 100%;
    opacity: 1;
    transition: 0.8s 0.5s;
    transform: translate(0, 110%);
    background-color: rgba(255, 255, 255, 0.494);
}.dentist.nameup .name .y, .dentist.nameup .name .n
{
    transform: translate(0,0);
    opacity: 1;
}
.dentist._3 .name 
{
    right: -20%;
}
.dentist._5 .name 
{
    left: -24%;
}
.dentist._2 .name .n
{
    padding-left: 3%;
}
.dentist._1 .name
{
    right: -8%;
} */

.team
{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 4% 3%;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
}
.letter
{
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.262);
    font-family: 'MonserratB';
    font-size: 280px;
    margin: 0 12px;   
    opacity: 0;
    transition: 0.7s;
}

.letter.visible
{
    opacity: 1;
}



/* --- sidebar --- */

.sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    z-index: 20;
}
.sidebar_container
{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.516);
    left: 0;
    top: 0;
    transition: 0.5s;
    z-index: 10;
    box-shadow: 0 3px 4px rgba(255, 255, 255, 0.573);
}
.rightside
{
    width: 60px;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 0;
}



.side_nav
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.side_nav span 
{
    position: absolute;
    left: 0;
    width: 2px;
    transition: 0.5s;
    box-shadow: 1px 0px 5px 0px rgb(0, 0, 0);
    background-color: rgb(80, 181, 249);
}

.side_nav .block
{
    width: 100%;
    height: 6%;
    margin: 10px;
    padding: 15px 17px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}
.side_nav .block.active
{
    background-color: rgba(0, 0, 0, 0.231);
}
/* .side_nav .block.active::before
{
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 1px 0px 5px 0px rgb(0, 0, 0);
    background-color: rgb(80, 181, 249);
} */
.side_nav .block img
{
    width: 100%;
    opacity: 0.85;
}
.side_nav .block._1
{
    padding: 15px 18px;
}

.sidebar.off .sidebar_container
{
    left: -75%;
}
.sidebar.off .sidebar_container.paralax
{
    left: -100%;
}
.sidebar_container.hover
{
    left: -75% !important;
}
@keyframes close1 {
    0% {
        bottom: -120%;
        left: -4%;        
    }
    20% {
        bottom: -120%;
        left: -4%;        
    }
    100% {
        bottom: -5%;   
        left: -4%;     
    }
}
@keyframes close2 {
    0% {
        opacity: 0; 
        right: 60%;        
    }
    40% {
        opacity: 0; 
        right: 60%;        
    }
    100% {
        opacity: 1;
        right: 60%;   
    }
}
@keyframes close3 {
    0% {
        opacity: 0; 
        right: 19%;        
    }
    40% {
        opacity: 0; 
        right: 19%;        
    }
    100% {
        opacity: 1;
        right: 19%;   
    }
}
@keyframes closeMain {
    0% {
        right: 35% ;
        bottom: -120% ; 
    }
    100% {
        right: 35%;
        bottom: -5%;   
    }
}
@keyframes close5 {
    0% {
        bottom: -120%; 
        left: 82%;
    }
    20% {
        bottom: -120%; 
        left: 82%;
    }
    100% {
        bottom: -5%;  
        left: 82%;  
    }
}

@keyframes dentist1 {
    0% {
        bottom: -5%;   
        left: -4%;     
    }
    50% {
        bottom: -120%;
        left: -4%;        
    }
    100% {
        left: -50% ;
        bottom: -120% ;
    }
}
@keyframes dentist2 {
    0% {
        opacity: 1;
        right: 60%;      
    }
    50% {
        opacity: 0; 
        right: 60%;       
    }
    100% {
        right: -50% ;
        opacity: 0;
    }
}
@keyframes dentist3 {
    0% {
        opacity: 1;
        right: 19%;      
    }
    50% {
        opacity: 0;
        right: 19%;       
    }
    100% {
        right: -50% ;
        opacity: 0;
    }
}
@keyframes dentist4 {
    0% {
        bottom: -5%;  
        right: 35%;      
    }
    50% {
        bottom: -120%; 
        right: 35%;       
    }
    100% {
        right: -50%;
        bottom: -120% ;
    }
}

@keyframes dentist5 {
    0% {
        bottom: -5%;  
        left: 82%;      
    }
    50% {
        bottom: -120%; 
        left: 82%;       
    }
    100% {
        left: -50% ;
        bottom: -120% ;
    }
}

@keyframes switch_open_left {
    0% {
        bottom: -5%;   
        left: -50%;     
    }
    100% {
        bottom: -5%;
        left: -4%;        
    }    
}
@keyframes switch_close_left {
    0% {
        bottom: -5%;   
        left: -4%;     
    }
    100% {
        bottom: -5%;
        left: -50%;        
    }    
}

@keyframes switch_open_right {
    0% {
        bottom: -5%;   
        right: 50%;     
    }
    100% {
        bottom: -5%;
        right: 0%;        
    }    
}
@keyframes switch_close_right {
    0% {
        bottom: -5%;   
        right: 0%;     
    }
    100% {
        bottom: -5%;
        right: -50%;        
    }    
}

@keyframes blink{
    0%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 0.2;
    }
}
@keyframes move{
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(0, 8px);
    }
    100%{
        transform: translamovete(0, 0);
    }
}
@keyframes moveX{
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(8px, 0px);
    }
    100%{
        transform: translate(0, 0);
    }
}
@keyframes action{
    0%{
        /* top: -25%;
        left: -5%; */
        transform: scale(1);
    }
    10%{
        /* top: -25%;
        left: -5%; */
        transform: scale(1.02);
    }
    20%
    {
        /* top: -18%;
        left: -10%; */
        transform: scale(1.04);
    }
    30%{
        transform: scale(1.06);
    }
    40%{
        transform: scale(1.08);
    }
    50%{
        transform: scale(1.1);
    }
    60%{
        transform: scale(1.08);
    }
    70%{
        transform: scale(1.06);
    }
    80%{
        transform: scale(1.04);
    }
    90%{
        transform: scale(1.02);
    }
    100%{
        /* top: -25%;
        left: -5%; */
        transform: scale(1);
    }

}