body
{
    overflow: hidden;
    background-color: rgb(50, 50, 50);
}
.hint 
{
    position: fixed;
    top: 0;
    left: 0;
    height: 20px;
    padding: 0 10px;
    min-width: 50px;
    border: 1px solid rgb(17, 17, 17);
    background-color: rgba(255, 255, 255, 0.856);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    visibility: hidden;
    z-index: 100;
}
.hint.on 
{
    visibility: visible;
    pointer-events: none;
    transition-delay: 1s;
}

.loading
{
    position: absolute;
    width: 5%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.loading.on
{
    opacity: 1;
    visibility: visible;
}
.loading img 
{
    width: 100%;
    visibility: inherit;
}
.blocking 
{
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px 50px;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 56, 56);
}
.blocking.on
{
    visibility: visible;
    opacity: 1;
}
.blocking.off
{
    visibility: hidden;
    opacity: 0;
}
.lock {
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 20px;
}
.lock img 
{
    width: 100%;
    height: 100%;
}
.blocking .massage
{
    font-size: 1.04vw;
    font-family: "Montserrat";
    color: rgba(255, 255, 255, 0.857);
    text-align: center;
}
.blocked 
{
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blocked.disable 
{
    opacity: 0;
    visibility: hidden;
}
.sidebar_container
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.telegram.high
{
    right: 0.52vw;
}

.insta.high
{
    right: 0.52vw;
    bottom: 13.2%;
}
.social_media.high{
    height: fit-content;

    width: 1.3vw;
}
.social_media.high img {
    height: unset;
    width: 100%;
}
.youtube.high
{
    right: 0.416vw;
    width: 1.508vw;
    bottom: 7.2%;
}
.social_media
{
    
    bottom: calc(100vh - 98.8%);
    position: fixed;
    display: block;
    height: 1.3vw;
    margin: 1.04vw;
    z-index: 20;
}
.social_media img 
{
    opacity: 0.8;
    transform: scale(1);
    transition: 0.2s;
}
.social_media:hover img
{
    transform: scale(1.1);
    opacity: 1;
}
.social_media:active img
{
    transform: scale(1);
    opacity: 0.8;
}
.social_media.high.paralax
{
    right: -100px;
}
.social_media.high.hover{
    right: 0.52vw;
}
.youtube.high.hover{
    right: 0.416vw;
}
.social_media img
{
    height: 100%;
    pointer-events: none;
}
.youtube
{
    padding: 0.052vw 0;
    transition: 0.8s 0.2s;
    right: 12%;
}
.telegram
{
    transition: 0.8s 0.4s;
    right: 8%;
}
.insta
{
    transition: 0.8s;
    right: 16.5%;
}
.content
{
    z-index: inherit;
}
.home .name
{
    position: absolute;
    top: 30%;
    left: 13%;
    z-index: 1;
}
.home .name .title
{
    font-size: 5.2vw;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Montserrat";

    letter-spacing: 0.52vw;
    z-index: 8;
    transition: 0.8s 1s;
    transform: translate(0, 70%);
    opacity: 0;
}
.home .name span
{
    margin-top: 0.78vw;
    display: block;
    width: 100%;
    height: 0.104vw;
    transform: scale(0);
    background-color: white;   
    transition: 1s; 
}
.home .name .subtitle
{
    font-size: 2.08vw;
    text-align: center;
    margin-top: 1.04vw;
    font-family: "Montserrat";
    letter-spacing: 0.104vw;
    color: rgba(255, 255, 255, 0.73);
    z-index: 1;
    transform: translate(0, -100%);
    opacity: 0;
    transition: 1s 1.8s;
}

.home .name.ready .title
{
    transform: translate(0,0);
    opacity: 1;
}
.home .name.ready span
{
    transform: scale(1);
}
.home .name.ready .subtitle {
    transform: translate(0,0);
    opacity: 1;
}

.arrow
{
    display: block;
    width: 3.12vw;
    height: 1.56vw;
    position: absolute;
    bottom: 1.3vw;
    left: calc(50% - 1.3vw);
    transform: translate(0, 0px);
    z-index: 4;
    opacity: 1;
    transition: 0.8s;
    animation-name: move;
    cursor: pointer;
    animation-duration: 1.3s; 
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
.arrow.hidden
{
    opacity: 0;
}
.arrow::after, .arrow::before
{
    content: '';
    width: 1.82vw;
    height: 0.208vw;
    background-color: rgba(255, 255, 255, 0.874);
    position: absolute;
    display: block;
}
.arrow::after
{
    left: -1px;
    top: calc(50% - 0.052vw);
    transform: rotate(35deg) scale(1);
}
.arrow::before
{
    right: -1px;
    top: calc(50% - 0.052vw);
    transform: rotate(-35deg) scale(1);

    
}
.arrow:hover::after , .arrow:hover::before {
    background-color: rgba(255, 255, 255, 1);
}
.arrow:hover::after 
{
    transform: scale(1.06) rotate(35deg) ;

}
.arrow:hover::before
{
    transform: scale(1.06) rotate(-35deg) ;
}
.shadow
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.42);
}
.home
{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 8;
}

.win_logo
{
    width: 9.2vw;
    height: 9.2vw;
    padding: 1.56vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
.win_logo img
{
    width: 100%;
    height: 100%;
}

.location
{
    bottom: 3.3vh;
    left: 8%;
    color: white;
    position: absolute;
    opacity: 0.7;
    font-size: 1.144vw;
    align-items: center;
    z-index: 18;
    display: inline-flex;
    cursor: pointer;
    transform: scale(1);
    transition: 0.3s;
    text-decoration: none;
}
.location span 
{
    font-size: 1.56vw;
    padding-bottom: 0.208vw;
    margin-right: 0.156vw;
    text-decoration: none;
}
.location:hover
{
    opacity: 1;
    transform: scale(1.04);
}
.location:active
{
    opacity: 0.7;
    transform: scale(1);
}
.location.hidden
{
    opacity: 0;
}

/*----- UNIVERSAL ----- */

.clickable 
{
    opacity: 0.7;
    transform: scale(1);
    transition: 0.2s;
}
.clickable:hover
{
    opacity: 1;
    transform: scale(1.1);
}
.clickable:active
{
    transform: scale(1);
    opacity: 0.7;

}

/* ---------------- */
.background img 
{
    width: 100%;
}
.background#b_home
{
    min-width: 115%;
    min-height: 105%;
    animation-name: action;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
    top: -25%;
    opacity: 0;
    left: -5%;
}
.background#b_services
{
    min-width: 115%;
    min-height: 105%;
    /* animation-name: action;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear; */
    top: -10%;
    opacity: 1;
    left: -10%;
}
.background 
{
    position: fixed;
    min-width: 110%;
    min-height: 105%;
    transition: 1s;
    opacity: 0;
}
.background.onthis
{
    opacity: 1 !important;
}

/* --- services --- */
.services .background
{
    width: 115%;
    /* animation-name: action;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear; */
    z-index: -1;
    top: -10%;
    left: -10%;
}
.services
{
    width: 100%;
    position: relative;
    height: 100vh;
    padding: 0 6.24vw;
    padding-top: 1.56vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}
.services_block{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.service
{
    z-index: 1;
    height: 14.56vw;
    margin: 0.52vw 2.08vw;
    width: 23.4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.title
{
    color: rgba(14, 119, 239, 0.501);
    font-size: 1.352vw;
    white-space: nowrap;
    font-family: "Montserrat";
    text-align: center;
    transform: translate(0, 120%);
    opacity: 0;
    margin: 1.04vw 0px;
    transition: 0.8s 2s;
}
.line_x
{
    display: block;
    min-height: 0.156vw;
    width: 0%;
    margin: 0.52vw 0;
    background-color: rgba(255, 255, 255, 0.886);
    transition: 1s 1s;
    z-index: 2;
}
.service .list
{
    color: rgba(255, 255, 255, 0.785);
    padding: 0 1.56vw;
    opacity: 0;
    transform: translate(0, -100%);
    transition: 1s 2.8s;
}
.service .list li
{
    list-style-type: square;
    font-family: "Montserrat";
    letter-spacing: 1px;
    font-size: 1.144vw;
    margin: 0.78vw 0;

}
.services_block.on .service
{
    opacity: 1;
}
.services_block.on .service .title
{
    transform: translate(0, 0);
    opacity: 1;
}
.services_block.on .service .line_x
{
    width: 100%;
}
.services_block.on .service .list
{
    opacity: 1;
    transform: translate(0,0);
}

.priceList_table
{
    width: 80%;
    height: 40%;
    position: absolute;
    text-align: center;
    padding: 1.56vw 1.04vw;
    bottom: 2.6vw;
    background-color: rgba(0, 0, 0, 0.789);
    border-top: 0.156vw solid rgba(14, 119, 239, 0.586);
    border-bottom: 0.156vw solid rgba(14, 119, 239, 0.586);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
}
.priceList_table.view
{
    opacity: 1;
    visibility: visible;
}
.priceList_table.openlist
{
    height: 90%;
}

.part
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t_title
{
    color: rgba(14, 119, 239, 0.578);
    width: 100%;
    font-size: 1.456vw;
    font-family: "Montserrat";
    text-align: center;
    margin: 1.04vw 0px;
}
.line{
    width: 100%;
    padding: 0px 1.04vw;
    font-size: 1.144vw;
    margin: 0.78vw 0;
    color: rgba(255, 255, 255, 0.849);
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    letter-spacing: 1px;
}
.l_service
{
    white-space: nowrap;
}
.price
{
    white-space: nowrap;
}
.part span
{
    overflow: hidden;
    color: rgba(14, 119, 239, 0.578);
}
.priceList_table::-webkit-scrollbar 
{
    background-color: rgba(0, 0, 0, 0.386);
    width: 0.416vw;
    
}

.priceList_table::-webkit-scrollbar-button
{
    display: none;
}
.priceList_table::-webkit-scrollbar-thumb
{
    background-color: rgba(14, 119, 239, 0.586);

}
.open
{
    text-align: center;
    display: inline;
    width: min-content;
    white-space: nowrap;
    text-align: center;
    font-size: 2.08vw;
    font-family: 'Montserrat';
    letter-spacing: 0.078vw;
    text-transform: uppercase;
    color: white;
    margin: 1.144vw;
    transition: 1s;
    animation: blink 2.5s;
    text-shadow: 0 0.156vw 0.208vw  rgba(14, 119, 239, 0.94);
    cursor: pointer;
    animation-iteration-count: infinite;
    z-index: 3;
}
.open:hover
{
    opacity: 0.8;
    animation: none;
}
/* --- staff --- */

.staff 
{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.fog
{
    width: 70%;
    transition-timing-function: ease-in-out;
    position: fixed;
    z-index: 15;
    pointer-events: none;
}
.fog img 
{
    width: 100%;
}
.fog._1
{
    bottom: -38%;
    transition: 1s;
    left: -23%;
}
.fog._2
{
    transition: 1s 0.3s;
    bottom: -51%;
    left: 15%;
}
.fog._3
{
    bottom: -40%;
    transition: 1s;
    right: -23%;
}
.fog._1.off
{
    bottom: -70%;
    left: -40%
}
.fog._2.off
{
    bottom: -70%;
}
.fog._3.off 
{
    bottom: -70%;
    right: -40%;
}
/*----- defolt dentists ------*/
.dentists
{
    /* visibility: hidden; */
    z-index: 8;
    width: 100%;
    height: 100%;
}
.dentist
{
    position: absolute;
    transition: 1s 0s;
    height: 120% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    bottom: -50%;
}
.dentist img {
    height: 100%;
    transition: 1s ease;
}
/* .dentist img.hovered {
    transform: scale(1.01) translate(-0.3vw, -0.35vw);
} */
.dentist._4
{
    right: 30%;
    transition: 1.5s 0.2s;
    transition-timing-function: ease-out;
    z-index: 4;
}
.dentist._4 img 
{
    height: 120%;
}
.prioriti_2 img 
{
    height: 107%;
}

.prioriti_2
{
    /* width: 25%; */
    opacity: 1;
    z-index: 3;
    transition: 1.5s 0s;
}

.prioriti_3
{
    z-index: 2;
}

.dentist._3 
{
    right: 10%;
   transform: translate(0, 0%);
}

.dentist._2
{
    right: 50%;
    align-items: start;
    transform: translate(0, -5%);
}
.dentist._2 img 
{
    height: 88%;
    transition: 1s 0s ease-out;
}

.dentist._1
{
    left: -10%;
}
.dentist._5
{
    left: 70%;
}

/*---- dentists' CLONE ----*/
.clone 
{

    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s 0s ease-out;
}
.clone.on
{
    visibility: visible;
}
.clone.hidden, .clone.hidden .cloneImg
{
    opacity: 0 !important;
    transition: 0.5s;
}
.cloneImg 
{
    width: 100%;
    height: 100%;
    transform: scale(1) translate(0,0);
    transition: 1s 0s ease-out;
    pointer-events: fill;
}
.dentist img {
    opacity: 1;
}
.dentist.hovered img
{
    opacity: 0;
}
.clone.hovered .cloneImg
{
    pointer-events: fill;
    transform: scale(1.02) translate(0, 0.5vw);
    -webkit-filter: drop-shadow(1px 1px 1px #cccccc8a);
    filter:         drop-shadow(1px 1px 1px #cccccc8a); 
}

/* .incorrect.hovered .cloneImg
{
    transform: scale(1.04) translate(0.3vw, 0.3vw);
} */

.clone.hovered 
{
    opacity: 1;
    transition: 1s 0s ease-out; 
    cursor: pointer;
}
.cPrioriti-1
{
    z-index: 17;
}.cPrioriti-2
{
    z-index: 16;
}.cPrioriti-3
{
    z-index: 15;
}
/* ----- dentist OFF------*/
.dentist._4.off
{
    bottom: -130%;
}
.dentist._1.off
{
    left: -70%;
}
.prioriti_2.gr 
{
    transition: 1s 1.5s ease;
}
.dentist._3.off , .dentist._2.off
{
    opacity: 0;
}
.dentist._5.off
{
    left: 130%;
}
.prioriti_3.gr
{
    transition: 2s 1s ease-out;
}
/*-- opacity of LETTERS ---*/

.opacityOI{
    opacity: 1 !important;
    transition-delay: 0s !important;
}
.opacityZ
{
    opacity: 0 !important;
    transition-delay: 0s !important;
}

/* defolt ALTERNATIVE at all */

.dentists.alternative .left
{
    left: -50%;
    bottom: -30%;
}
.dentists.alternative .right 
{
    right: -50%;
    bottom: -30%;
}
.dentists.alternative .bottom
{
    right: -50%;
    bottom: -40%;
}
/*---------------- FOR A TIME -----------------*/
.dentists.alternative .right._2
{
    transform: translate(12%, -5%);
}
.dentists.alternative .dentist._3.information
{
   transform: translate(0, -5%);
}
.dentists.alternative .dentist._3.information img
{
    height: 94%;
}
/*---------------------------------------------*/

.dentists.alternative .dentist 
{
    transition-delay: 0.5s !important;
}
.dentists.alternative .dentist._1 
{
    transition: 2s 0s !important;
}
.dentists.alternative .dentist._2 
{
    transition: 1.5s 0s !important;
}
.dentists.alternative .dentist._3
{
    transition: 1.5s 0s !important;
}
.dentists.alternative .dentist._4 
{
    transition: 1.7s 0s ease-out !important;
}
.dentists.alternative .dentist._5
{
    transition: 2.5s 0s !important;
}
/*---- animate SWITCH ----*/

/* .dentist.right.switched
{
    animation: switch_close_right 2s;
}
.dentist.right.information.switched
{
    animation: switch_open_right 2s;
}
.dentists .dentist.left.switched 
{
    animation: switch_close_left 2s;
}
.dentists .dentist.left.information
{
    animation: switch_open_left 2s;
} */

/*---- animate dentists GO TO BOTTOM ----*/

.dentists.alternative ._1.animate 
{
    animation: dentist1 2s ease-in;
}
.dentists.alternative ._2.animate
{
    animation: dentist2 2s;
}
.dentists.alternative ._3.animate
{
    animation: dentist3 2s;
}
.dentists.alternative ._4.animate
{
    animation: dentist4 2s ease-in;
}
.dentists.alternative ._5.animate
{
    animation: dentist5 2s ease-in;
}

/*---- animate dentists GO TO TOP ----*/

.dentists ._1.close_animate 
{
    animation: close1 3s;
}
.dentists ._2.close_animate
{
    animation: close2 3s;
}
.dentists ._3.close_animate
{
    animation: close3 2.5s;
}
.dentists ._4.close_animate 
{
    animation: closeMain 3s;
}
.dentists ._5.close_animate
{
    animation: close5 3s;
}

/*---- alternative when it is INFORMATIONED ----*/

.dentists.alternative .bottom.information
{
    bottom: -40% !important;
    right: 5% !important;
    transition: 2s;
    transition-delay: 0.3s !important;
}

.dentists.alternative .right.information 
{
    bottom: -30% !important;
    right: 3% !important; 
    transition: 2s;
    transition-delay: 0.3s !important;
}
.dentists.alternative .left.information 
{
    bottom: -30% !important;
    left: 7% !important;
    transition: 2s !important;
    transition-delay: 0.3s !important;
}


/*--- switched transition ---*/

.dentists.alternative .dentist.switched 
{
    transition: 2s 0.5s ease-out !important;
}

/*---- BACK BUTTON ----*/

.back_button
{
    width: 2.08vw;
    height: 2.08vw;
    position: absolute;
    opacity: 0;
    transition: 1s 0s;
    left: 4.68vw;
    visibility: hidden;
    top: 3%;
    cursor: pointer;
    z-index: 25;
}
.back_button.visible
{
    visibility: visible;
    transition: 1s 2s;
    opacity: 0.8;
}
.back_button img
{
    width: 100%;
    height: 100%;
}

.dentist_information
{
    width: 33%;
    min-height: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    visibility: hidden;
}
.dentist_information > span
{
    width: 0%;
    min-height: 0.156vw;
    margin: 0.78vw 0;
    transition: 0.5s 0s;
    background-color: rgba(255, 255, 255, 0.663);
}
.dentist_information .dentist_name
{
    width: 100%;
    text-align: center;
    transform: translate(0, 100%);
    transition: 0.5s 0.5s;
    font-size: 1.82vw;
    opacity: 0;
    color: rgba(255, 255, 255, 0.855);
    letter-spacing: 0.156vw;
    font-family: "MonserratB";
}
.dentist_information .text 
{
    width: 100%;
    padding: 0.52vw 0.78vw;
    overflow: hidden;
    
}
.dentist_information .text > span
{
    width: 100%;
    line-height: 1.404vw;
    display: block;
    font-size: 1.144vw;
    text-align: center;
	font-family: 'Montserrat';
    color: rgba(255, 255, 255, 0.795);
    height: 100%;
    opacity: 1;
    transform: translate(0, -110%);
    transition: 1s 1s;
}
.t_left
{
    left: 15%;
    top: 10%;
}
.t_right
{
    right: 12%;
    top: 10%;
}
.dentist_information.period 
{
    visibility: visible;
}
.dentist_information.period > span 
{
    width: 100%;
    transition: 0.5s 1.5s;
}
.dentist_information.period .text > span {
    transform: translate(0,0);
    transition: 1.5s 2.7s;
} 
.dentist_information.period .dentist_name {
    transform: translate(0,0);
    opacity: 1;
    transition: 0.7s 2s;
}

.next_button
{
    width: 5.2vw;
    position: absolute;
    top: calc(50vh - 2.6vw);
    z-index: 9;
    right: 0;
    transition: 1s 0.3s;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    animation-name: moveX;
    animation-duration: 1.3s; 
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
.next_button img 
{
    width: 100%;
    transform: scale(1);
    opacity: 0.6;
    transition: 0.3s;
}
.next_button.hidden
{
    opacity: 0;
    visibility: hidden;
} 
.next_button:hover img {
    opacity: 1;
}

.prev_button
{
    width: 5.2vw;
    position: absolute;
    top: calc(50vh - 2.6vw);
    z-index: 16;
    left: 4%;
    transition: 1s 0.3s;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    animation-name: moveXLeft;
    animation-duration: 1.3s; 
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
.prev_button img 
{
    width: 100%;
    transform: rotate(180deg) scale(1);
    opacity: 0.6;
    transition: 0.3s;
}
.prev_button.hidden
{
    opacity: 0;
    visibility: hidden;
}
.prev_button:hover img {
    opacity: 1;
}

.prev_button:active img 
{
    opacity: 0.8;
    transform: scale(0.9) rotate(180deg);
}
.next_button:active img
{
    opacity: 0.8;
    transform: scale(0.9);
}



/* .dentist .name {
    position: absolute;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 20%;
    opacity: 0;
    top: -25%;
}
.dentist .name .n
{
    top: 0;
    left: 0;
    width: 100%;
    font-size: 26px;
    margin-bottom: 5px;
    text-align: center;
    white-space: nowrap;
    font-family: "Montserrat";
    letter-spacing: 2px;
    color: rgba(14, 119, 239, 0.501);
    display: block;
    transition: 0.5s 2.1s;
    transform: translate(0, 110%);
    opacity: 0;
    z-index: 6;
}
.dentist._3 .name , .dentist._2 .name 
{
    height: 28%;
    top: -33%;
}

.dentist .name .x 
{
    width: 0%;
    transition: 0.8s 1.3s;
    margin-top: 5px;
    height: 3px;
    display: block;
    background-color: rgba(255, 255, 255, 0.494);
}
.dentist.nameup .name .x 
{
    width: 70%;
}
.dentist._3.nameup .name .x , .dentist._2.nameup .name .x
{
    width: 85%;
}
.dentist .name .y {
    display: block;
    width: 3px;
    height: 100%;
    opacity: 1;
    transition: 0.8s 0.5s;
    transform: translate(0, 110%);
    background-color: rgba(255, 255, 255, 0.494);
}.dentist.nameup .name .y, .dentist.nameup .name .n
{
    transform: translate(0,0);
    opacity: 1;
}
.dentist._3 .name 
{
    right: -20%;
}
.dentist._5 .name 
{
    left: -24%;
}
.dentist._2 .name .n
{
    padding-left: 3%;
}
.dentist._1 .name
{
    right: -8%;
} */

.team
{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 4% 3%;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
}
.letter
{
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.262);
    font-family: 'MonserratB';
    font-size: 14.56vw;
    margin: 0 0.624vw;   
    opacity: 0;
    transition: 0.7s;
}

.letter.visible
{
    opacity: 1;
}



/* --- sidebar --- */


.sidebar
{
    width: 3.1vw;
    height: 100%;
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.516);
    left: 0;
    top: 0;
    transition: 0.8s;
    z-index: 20;
    box-shadow: 0 0.156vw 0.208vw rgba(255, 255, 255, 0.573);
}



.side_nav
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.side_nav > span 
{
    position: absolute;
    left: 0;
    width: 0.104vw;
    transition: 0.5s;
    box-shadow: 1px 0px 5px 0px rgb(0, 0, 0);
    background-color: rgb(80, 181, 249);
}

.side_nav .block
{
    width: 100%;
    min-height: 6%;
    margin: 0.52vw;
    padding: 0.78vw 0.884vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}
.side_nav .block.active
{
    background-color: rgba(0, 0, 0, 0.231);
}
/* .side_nav .block.active::before
{
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 1px 0px 5px 0px rgb(0, 0, 0);
    background-color: rgb(80, 181, 249);
} */
.side_nav .block img
{
    width: 100%;
    transition: 0.2s;
    opacity: 0.6;
    transform: scale(1);
    pointer-events: none;
}

.side_nav .block:hover img
{
    opacity: 0.8;
    transform: scale(1.1);
}
.side_nav .block:active img
{
    opacity: 0.6;
    transform: scale(1);
}

.side_nav .block.active img {
    opacity: 1;
    transform: scale(1.2) ;
}

.side_nav .block._1.active img {
    opacity: 1;
    transform: scale(1.15) ;
}

.side_nav .block._1
{
    padding: 0.78vw 0.936vw;
}


.sidebar.paralax
{
    left: -3.1vw;
}
.sidebar.hover
{
    left: 0% !important;
}


.lang
{
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 4%;   
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}
.lang > span 
{
    color: white;
    opacity: 0.6;
    transition: 0.4s;
    cursor: pointer;
    font-size: 1.456vw;
    transform: scale(1);
}
.lang > span:hover
{
    opacity: 1;
}
.lang.active > span
{
    opacity: 1;
    transform: scale(1.08);
}
.lang_list
{
    position: absolute;
    left: 102%;
    min-height: 100%;
    width: 180px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    pointer-events: none;
}
.lang_line
{
    max-width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.953);
    transform: translate(0, 0);
    transition: 0.7s;
    display: block;
}

.lang_block
{
    list-style: none;
    color: rgba(255, 255, 255, 0.866);
    min-height: 50%;
    padding: 8px 15px;
    background-color: rgba(0, 0, 0, 0.402);
    font-family: "Montserrat";
    font-size: 17px;
    letter-spacing: 1px;
    transform: translate(0, 0);
    transition: 0.7s;
    cursor: pointer;
    pointer-events: fill;
}
.lang_list.hidden .lang_block , .lang_list.hidden .lang_line
{
    transform: translate(-100%, 0);
}
.lang_block.active 
{
    background-color: rgba(0, 0, 0, 0.832);
}



@keyframes close1 {
    0% {
        bottom: -120%;
        left: -10%;        
    }
    10% {
        bottom: -120%;
        left: -10%;        
    }
    100% {
        bottom: -50%;   
        left: -10%;     
    }
}
@keyframes close2 {
    0% {   
        opacity: 0; 
        right: 50%;        
    }
    40% {
        opacity: 0;    
        right: 50%;        
    }
    100% {
        opacity: 1;   
        right: 50%;   
    }
}
@keyframes close3 {
    0% {
        opacity: 0; 
        right: 10%;        
    }
    40% {
        opacity: 0; 
        right: 10%;        
    }
    100% {
        opacity: 1;
        right: 10%;   
    }
}
@keyframes closeMain {
    0% {
        right: 30% ;
        bottom: -120% ; 
    }
    100% {
        right: 30%;
        bottom: -50%;   
    }
}
@keyframes close5 {
    0% {
        bottom: -120%; 
        left: 70%;
    }
    10% {
        bottom: -120%; 
        left: 70%;
    }
    100% {
        bottom: -50%;  
        left: 70%;  
    }
}

@keyframes dentist1 {
    0% {
        bottom: -50%;   
        left: -10%;     
    }
    50% {
        bottom: -120%;
        left: -10%;        
    }
    100% {
        left: -50% ;
        bottom: -120% ;
    }
}
@keyframes dentist2 {
    0% {
        opacity: 1;
        right: 50%;
        bottom: -50%;
        transform: translate(0, -5%);
    }
    30% {
        opacity: 0; 
        right: 50%;
        bottom: -50%;
        transform: translate(0, -5%);  
    }
    100% {
        right: -50% ;
        bottom: -30%;
        justify-content: end;
        transform: translate(12%, -5%);
        opacity: 0;
}
}
@keyframes dentist3 {
    0% {
        opacity: 1;
        right: 10%; 
        bottom: -50%;

}
    50% {
        opacity: 0;
        bottom: -50%;
        right: 10%;  
    }
    100% {
        right: -50%;
        bottom: -30%;
        opacity: 0;
    }
}
@keyframes dentist4 {
    0% {
        bottom: -50%;  
        right: 30%;      
    }
    50% {
        bottom: -150%; 
        right: 30%;       
    }
    100% {
        right: -50%;
        bottom: -150% ;
    }
}

@keyframes dentist5 {
    0% {
        bottom: -50%;  
        left: 70%;      
    }
    50% {
        bottom: -120%; 
        left: 70%;       
    }
    100% {
        left: -50%;
        bottom: -120%;
    }
}

@keyframes switch_open_left {
    0% {
        bottom: -50%;   
        left: -50%;     
    }
    100% {
        bottom: -50%;
        left: -4%;        
    }    
}
@keyframes switch_close_left {
    0% {
        bottom: -5%;   
        left: -4%;     
    }
    100% {
        bottom: -5%;
        left: -50%;        
    }    
}

@keyframes switch_open_right {
    0% {
        bottom: -5%;   
        right: 50%;     
    }
    100% {
        bottom: -5%;
        right: 0%;        
    }    
}
@keyframes switch_close_right {
    0% {
        bottom: -5%;   
        right: 0%;     
    }
    100% {
        bottom: -5%;
        right: -50%;        
    }    
}

@keyframes blink{
    0%{
        opacity: 0.8;
    }
    50%{
        opacity: 0.2;
    }
    100%{
        opacity: 0.8;
    }
}
@keyframes move{
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(0, 8px);
    }
    100%{
        transform: translamovete(0, 0);
    }
}
@keyframes moveX{
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(8px, 0px);
    }
    100%{
        transform: translate(0, 0);
    }
}
@keyframes moveXLeft{
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(-8px, 0px);
    }
    100%{
        transform: translate(0, 0);
    }
}
@keyframes action{
    0%{
        /* top: -25%;
        left: -5%; */
        transform: scale(1);
    }
    10%{
        /* top: -25%;
        left: -5%; */
        transform: scale(1.02);
    }
    20%
    {
        /* top: -18%;
        left: -10%; */
        transform: scale(1.04);
    }
    30%{
        transform: scale(1.06);
    }
    40%{
        transform: scale(1.08);
    }
    50%{
        transform: scale(1.1);
    }
    60%{
        transform: scale(1.08);
    }
    70%{
        transform: scale(1.06);
    }
    80%{
        transform: scale(1.04);
    }
    90%{
        transform: scale(1.02);
    }
    100%{
        /* top: -25%;
        left: -5%; */
        transform: scale(1);
    }

}