body
{
    overflow: hidden;
    background-color: rgb(50, 50, 50);
}
.sidebar_container
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.telegram.high
{
    right: 10px;
}

.insta.high
{
    right: 10px;
    bottom: 13.2%;
}
.social_media.high{
    height: fit-content;
    width: 25px;
}
.social_media.high img {
    height: unset;
    width: 100%;
}
.youtube.high
{
    right: 8px;
    width: 29px;
    bottom: 7.2%;
}
.social_media
{
    
    bottom: calc(100vh - 98.8%);
    position: fixed;
    display: block;
    height: 25px;
    margin: 20px 20px;
    z-index: 3;
}
.social_media.high.paralax
{
    right: -100px;
}
.social_media.high.hover{
    right: 10px;
}
.youtube.high.hover{
    right: 8px;
}
.social_media img
{
    height: 100%;
}
.youtube
{
    padding: 1px 0;
    transition: 0.8s 0.2s;
    right: 12%;
}
.telegram
{
    transition: 0.8s 0.4s;
    right: 8%;
}
.insta
{
    transition: 0.8s;
    right: 16.5%;
}
.content
{
    z-index: 1;
}
.home .name
{
    position: absolute;
    top: 30%;
    left: 13%;
    z-index: 1;
}
.home .name .title
{
    font-size: 100px;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Montserrat";

    letter-spacing: 10px;
    z-index: 1;
    transition: 0.8s 1s;
    transform: translate(0, 70%);
    opacity: 0;
}
.home .name span
{
    margin-top: 15px;
    display: block;
    width: 100%;
    height: 2px;
    transform: scale(0);
    background-color: white;   
    transition: 1s; 
}
.home .name .subtitle
{
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    font-family: "Montserrat";
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.73);
    z-index: 1;
    transform: translate(0, -100%);
    opacity: 0;
    transition: 1s 1.8s;
}

.home .name.ready .title
{
    transform: translate(0,0);
    opacity: 1;
}
.home .name.ready span
{
    transform: scale(1);
}
.home .name.ready .subtitle {
    transform: translate(0,0);
    opacity: 1;
}

.arrow
{
    display: block;
    width: 60px;
    height: 30px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 30px);
    transform: translate(0, 0px);
    z-index: 4;
    opacity: 1;
    transition: 0.8s;
    animation-name: move;
    cursor: pointer;
    animation-duration: 1.3s; 
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
.arrow.hidden
{
    opacity: 0;
}
.arrow::after, .arrow::before
{
    content: '';
    width: 35px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.874);
    position: absolute;
    display: block;
}
.arrow::after
{
    left: -1px;
    top: calc(50% - 1px);
    transform: rotate(35deg);
}
.arrow::before
{
    right: -1px;
    top: calc(50% - 1px);
    transform: rotate(-35deg);

    
}
.arrow:hover::after , .arrow:hover::before {
    background-color: rgba(255, 255, 255, 1);
}
.shadow
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.359);
}
.home
{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.win_logo
{
    width: 150px;
    height: 150px;
    padding: 30px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
.win_logo img
{
    width: 100%;
    height: 100%;
}
/* ---------------- */
.background img 
{
    width: 100%;
}
.background#b_home
{
    width: 115%;
    height: 100%;
    animation-name: action;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
    top: -25%;
    left: -5%;
}
.background#b_services
{
    width: 115%;
    animation-name: action;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
    top: -10%;
    left: -10%;
}
.background
{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}
.background.onthis
{
    opacity: 1;
}

/* --- services --- */
.services .background
{
    width: 115%;
    position: absolute;
    animation-name: action;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
    top: -10%;
    left: -10%;
}
.services
{
    width: 100%;
    position: relative;
    height: 100vh;
    padding: 0 120px;
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}
.services_block{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.service
{
    z-index: 1;
    height: 280px;
    margin: 10px 40px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.title
{
    color: rgba(14, 119, 239, 0.501);
    font-size: 26px;
    white-space: nowrap;
    font-family: "Montserrat";
    text-align: center;
    transform: translate(0, 120%);
    opacity: 0;
    margin: 20px 0px;
    transition: 1s 1s;
}
.line_x
{
    display: block;
    min-height: 3px;
    width: 100%;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.886);
    transition: 1s;
    z-index: 2;
}
.service .list
{
    color: rgba(255, 255, 255, 0.785);
    padding: 0 30px;
    opacity: 0;
    transform: translate(0, -100%);
    transition: 1s 1.8s;
}
.service .list li
{
    list-style-type: square;
    font-family: "Montserrat";
    letter-spacing: 1px;
    font-size: 22px;
    margin: 15px 0;

}
.services_block.on .service
{
    opacity: 1;
}
.services_block.on .service .title
{
    transform: translate(0, 0);
    opacity: 1;
}
.services_block.on .service .list
{
    opacity: 1;
    transform: translate(0,0);
}

.priceList_table
{
    width: 80%;
    height: 40%;
    position: absolute;
    text-align: center;
    padding: 30px 20px;
    bottom: 50px;
    background-color: rgba(0, 0, 0, 0.789);
    border-top: 3px solid rgba(14, 119, 239, 0.586);
    border-bottom: 3px solid rgba(14, 119, 239, 0.586);
    display: flex;
    flex-direction: column;
    justify-content: start;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
}
.priceList_table.view
{
    opacity: 1;
    visibility: visible;
}
.priceList_table.openlist
{
    height: 90%;
}

.part
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t_title
{
    color: rgba(14, 119, 239, 0.578);
    width: 100%;
    font-size: 28px;
    font-family: "Montserrat";
    text-align: center;
    margin: 20px 0px;
}
.line{
    width: 100%;
    padding: 0px 20px;
    font-size: 22px;
    margin: 15px 0;
    color: rgba(255, 255, 255, 0.849);
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    letter-spacing: 1px;
}
.l_service
{
    white-space: nowrap;
}
.price
{
    white-space: nowrap;
}
.part span
{
    overflow: hidden;
    color: rgba(14, 119, 239, 0.578);
}
.priceList_table::-webkit-scrollbar 
{
    background-color: rgba(0, 0, 0, 0.386);
    width: 8px;
    
}

.priceList_table::-webkit-scrollbar-button
{
    display: none;
}
.priceList_table::-webkit-scrollbar-thumb
{
    background-color: rgba(14, 119, 239, 0.586);

}
.open
{
    text-align: center;
    display: inline;
    font-size: 40px;
    font-weight: 'Montserrat';
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: white;
    margin: 22px;
    transition: 1s;
    animation: blink 2.5s;
    text-shadow: 0 3px 4px rgba(14, 119, 239, 0.94);
    cursor: pointer;
    animation-iteration-count: infinite;
    z-index: 3;
}
.open:hover
{
    opacity: 0.8;
    animation: none;
}
/* --- staff --- */

.staff 
{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.fog
{
    width: 70%;
    transition-timing-function: ease-in-out;
    position: fixed;
    z-index: 6;
}
.fog img 
{
    width: 100%;
}
.fog._1
{
    bottom: -38%;
    transition: 1s;
    left: -23%;
}
.fog._2
{
    transition: 1s 0.3s;
    bottom: -51%;
    left: 15%;
}
.fog._3
{
    bottom: -40%;
    transition: 1s;
    right: -23%;
}
.fog._1.off
{
    bottom: -70%;
    left: -40%
}
.fog._2.off
{
    bottom: -70%;
}
.fog._3.off 
{
    bottom: -70%;
    right: -40%;
}
.dentists
{
    /* visibility: hidden; */
}
.dentist
{
    position: absolute;
}
.dentist._4
{
    width: 30%;
    left: 35%;
    bottom: -29%;
    transition: 1s 0.3s;
    z-index: 4;
}
.dentist._4.off
{
    bottom: -100%;
}
.dentist._3 
{
    width: 25%;
    right: 19%;
    bottom: -5.5%;
    transition: 1s 1.5s;
    opacity: 1;
    z-index: 3;
}
.dentist._2
{
    width: 25%;
    left: 15%;
    transition: 1s 1.5s;
    bottom: -5%;
    z-index: 3;
}
.dentist._3.off , .dentist._2.off
{
    opacity: 0;
}
.dentist._1
{
    width: 27.5%;
    left: -4%;
    transition: 1s 2.2s;
    bottom: -15%;
    z-index: 2;
}
.dentist._1.off
{
    left: -30%;
}
.dentist._5
{
    width: 28%;
    right: -10%;
    bottom: -3%;
    transition: 1s 2.2s;
    z-index: 2;
}
.dentist._5.off
{
    right: -30%;
}
.dentist img
{
    width: 100%;
}

/* .dentist .name {
    position: absolute;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 20%;
    opacity: 0;
    top: -25%;
}
.dentist .name .n
{
    top: 0;
    left: 0;
    width: 100%;
    font-size: 26px;
    margin-bottom: 5px;
    text-align: center;
    white-space: nowrap;
    font-family: "Montserrat";
    letter-spacing: 2px;
    color: rgba(14, 119, 239, 0.501);
    display: block;
    transition: 0.5s 2.1s;
    transform: translate(0, 110%);
    opacity: 0;
    z-index: 6;
}
.dentist._3 .name , .dentist._2 .name 
{
    height: 28%;
    top: -33%;
}

.dentist .name .x 
{
    width: 0%;
    transition: 0.8s 1.3s;
    margin-top: 5px;
    height: 3px;
    display: block;
    background-color: rgba(255, 255, 255, 0.494);
}
.dentist.nameup .name .x 
{
    width: 70%;
}
.dentist._3.nameup .name .x , .dentist._2.nameup .name .x
{
    width: 85%;
}
.dentist .name .y {
    display: block;
    width: 3px;
    height: 100%;
    opacity: 1;
    transition: 0.8s 0.5s;
    transform: translate(0, 110%);
    background-color: rgba(255, 255, 255, 0.494);
}.dentist.nameup .name .y, .dentist.nameup .name .n
{
    transform: translate(0,0);
    opacity: 1;
}
.dentist._3 .name 
{
    right: -20%;
}
.dentist._5 .name 
{
    left: -24%;
}
.dentist._2 .name .n
{
    padding-left: 3%;
}
.dentist._1 .name
{
    right: -8%;
} */

.team
{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 4% 3%;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
}
.letter
{
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.262);
    font-family: 'MonserratB';
    font-size: 280px;
    margin: 0 12px;   
    opacity: 0;
    transition: 0.8s;
}

.letter.visible
{
    opacity: 1;
}



/* --- sidebar --- */

.sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    
    z-index: 10;
}
.sidebar_container
{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.516);
    left: 0;
    top: 0;
    transition: 0.5s;
    box-shadow: 0 3px 4px rgba(255, 255, 255, 0.573);
}
.rightside
{
    width: 60px;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 0;
}



.side_nav
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.side_nav span 
{
    position: absolute;
    left: 0;
    width: 2px;
    transition: 0.5s;
    box-shadow: 1px 0px 5px 0px rgb(0, 0, 0);
    background-color: rgb(80, 181, 249);
}

.side_nav .block
{
    width: 100%;
    margin: 10px;
    padding: 15px 17px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}
.side_nav .block.active
{
    background-color: rgba(0, 0, 0, 0.231);
}
/* .side_nav .block.active::before
{
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 1px 0px 5px 0px rgb(0, 0, 0);
    background-color: rgb(80, 181, 249);
} */
.side_nav .block img
{
    width: 100%;
    opacity: 0.85;
}
.side_nav .block._1
{
    padding: 15px 18px;
}

.sidebar.off .sidebar_container
{
    left: -75%;
}
.sidebar.off .sidebar_container.paralax
{
    left: -100%;
}
.sidebar_container.hover
{
    left: -75% !important;
}
@keyframes blink{
    0%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 0.2;
    }
}
@keyframes move{
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(0, 8px);
    }
    100%{
        transform: translate(0, 0);
    }
}

@keyframes action{
    0%{
        /* top: -25%;
        left: -5%; */
        transform: scale(1);
    }
    10%{
        /* top: -25%;
        left: -5%; */
        transform: scale(1.02);
    }
    20%
    {
        /* top: -18%;
        left: -10%; */
        transform: scale(1.04);
    }
    30%{
        transform: scale(1.06);
    }
    40%{
        transform: scale(1.08);
    }
    50%{
        transform: scale(1.1);
    }
    60%{
        transform: scale(1.08);
    }
    70%{
        transform: scale(1.06);
    }
    80%{
        transform: scale(1.04);
    }
    90%{
        transform: scale(1.02);
    }
    100%{
        /* top: -25%;
        left: -5%; */
        transform: scale(1);
    }

}